<div class="row">
    <div class="col">
        <select class="form-control" id="firstShoesId"></select>
    </div>
    <div class="col">
        <select class="form-control" id="secondShoesId"></select>
    </div>
</div>

<div style="padding: 10px;"></div>

<div class="row">
    <div class="col-md-6">
        <div class="card-body">
            <h5 class="card-title" id="firstCardTitleId"></h5>
            <p class="card-text" id="firstCardDescId"></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="firstCardPriceId"></li>
            <li class="list-group-item" id="firstCardModelId"></li>
        </ul>
    </div>
    <div class="col-md-6">
       <div class="card-body">
           <h5 class="card-title" id="secondCardTitleId"></h5>
           <p class="card-text" id="secondCardDescId"></p>
       </div>
       <ul class="list-group list-group-flush">
           <li class="list-group-item" id="secondCardPriceId"></li>
           <li class="list-group-item" id="secondCardModelId"></li>
       </ul> 
    </div>
</div>

<div style="padding: 10px;"></div>

<div class="text-white bg-secondary" id="warningCardId">
    <div class="bg-secondary card-header text-white">
        Предупреждение
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p id="warningId"></p>
        </blockquote>
    </div>
</div>

<div style="padding: 10px;"></div>

<div id="resultCardId">
  <div class="bg-secondary card-header text-white">
    Результат
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" id="resultSpeedId"></li>
        <li class="list-group-item" id="resultPriceId"></li>
    </ul>
  </div>
</div>

<script src="~/lib/select2/js/select2.full.min.js"></script>
<script> 
$(document).ready(function () {
    
    $('#firstCardId').hide();
    $('#secondCardId').hide();
    $('#warningCardId').hide();
    $('#resultCardId').hide();
    
    let firstShoes = null; 
    let secondShoes = null;        
    
    $('#firstShoesId, #secondShoesId').select2({
       placeholder: "Выберите обувь",
       minimumInputLength: 2,
       allowClear: true,
       ajax: {
            type: "POST",
            url: "@Url.Action("GetShoes", "Shoes")",
            dataType: "json",
            data: function (params) { 
                var query = {
                    term: params.term,
                    page: params.page || 1,
                    pageSize: params.pageSize || 5
                };
                return query;
            },
            processResults: function (result) {
                return {
                    results: $.map(result, function (val, index) {
                        return {
                            id: index, 
                            text: val
                        };
                    }),
                };
            }
        }
    });      

    function fillData(val, cardId){
        if (cardId === 'firstCardId'){
            $('#firstCardId').show();
            $('#firstCardTitleId')[0].innerText = 'Название: ' + val.name;
            $('#firstCardDescId')[0].innerText = 'Описание: ' + val.description;
            $('#firstCardPriceId')[0].innerText = 'Стоимость: ' + val.price + ' ₴';
            $('#firstCardModelId')[0].innerText = 'Модель: ' + val.model;
        } else {
            $('#secondCarId').show();
            $('#secondCardTitleId')[0].innerText = 'Название: ' + val.name;
            $('#secondCardDescId')[0].innerText = 'Описание: ' + val.description;
            $('#secondCardPriceId')[0].innerText = 'Стоимость: ' + val.price + ' ₴';
            $('#secondCardModelId')[0].innerText = 'Модель: ' + val.model;
        }
        compareShoeses();
    }
   
    
    $("#secondShoesId").on("change", function(){
        const id = this.value;
        if (id === "") return;
        $.get("/Shoes/GetShoes", { id : id, isJson : true }, function(data) {
            secondShoes = data;
            fillData(secondShoes, "secondShoesId");
        });
    });
    
    $("#firstShoesId").on("change", function(){
        const id = this.value;
        if (id === "") return;
        $.get("/Shoes/GetShoes", { id : id, isJson : true }, function(data) {
            firstShoes = data;
            fillData(firstShoes, "firstCardId");
        });            
    });
    
    function compareShoeses(){
        if (firstShoes === null) {
            $('#warningId')[0].innerText = 'Вы не выбрали первую обувь';
            $('#warningCardId').show();
            return;
        }
        
        if (secondShoes === null) {
            $('#warningId')[0].innerText = 'Вы не выбрали вторую обувь';
            $('#warningCardId').show();
            return;
        }
        
        var price = $('#resultPriceId')[0];
        if (firstShoes.price > secondShoes.price) {
            price.innerText = 'Стоимость ' + firstShoes.name + ' выше, чем у ' + secondShoes.name;
        } else if (firstShoes.price === secondShoes.price) {
            price.innerText = 'Стоимость ' + firstShoes.name + ' и ' + secondShoes.name + ' равны';
        } else {
           price.innerText = 'Стоимость ' + firstShoes.name + ' выше, чем у ' + secondShoes.name;
        }

        $('#resultCardId').show();
        $('#warningCardId').hide();
    }
  });
</script>
