.backgroundImage {
    background-image: url("https://oir.mobi/uploads/posts/2021-03/1616964400_9-p-fon-dlya-prezentatsii-minimalizm-9.jpg");
    background-size: cover;
    background-attachment: fixed;
}
